* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header {
    padding: 16px 0;
    background-color: rgb(69, 69, 168);
    color: white;
}

header nav li {
    display: inline;
    margin: 16px;
}

header nav a {
   color: white;
}

.container {
    max-width: 1280;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
